<!DOCTYPE html>
<html>
  <head>
    <title>WebQ</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="wrap">
  	<%= render 'layouts/header' %>
    <%= render 'layouts/breadcrumbs' %>
    	<div class="container">
    		<% flash.each do |name, msg| %>
        	<%= content_tag :div, class: "alert alert-info alert-dismissable" do -%>
            <%= content_tag(:button, "&times;".html_safe, type: 'button', data: {dismiss: 'alert'}, class: "close") %>
            <%= msg %>
          <% end -%>
    		<% end %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
